{% extends "generic/layout.html.twig" %}

{% block title %} {{ page_header.title }} {% endblock %}

{% block main %}
{% include 'generic/page_header.html.twig' %}
<div class="row">
    {% for module in modules %}
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
        <a href="{{ base_url }}{{ module.link }}" class="thumbnail">
            {% if module.image %}
            <img src="{{ base_url }}{{ module.image }}" title="{{ module.title }}">
            {% else %}
            <img src="http://placehold.it/300x300&text={{ module.name }}" title="{{ module.title }}">
            {% endif%}
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}
